.container {
    width: 252px;
    height: 344px;
    color: #fff;
    cursor: pointer;
    position: relative;
    .desc {
        font-size: 14px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .title {
        font-size: 18px;
        font-weight: 600;
        position: absolute;
        top:30px;
        left: 10px;
    }
    img{
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }
}